* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header-wraper {
    margin-top: 8px;
}

.header-wraper .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;

}

.header-wraper .navbar-brand {
    width: 48px;
    height: 48px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-wraper .nav-link {
    font-weight: 550;
    font-size: 15px;
}

.header-wraper .input-icon {
    border: none;
    border-radius: 30px;
    background-color: #E9E9E9;
    padding-left: 18px;
    padding-right: 6px;
    color: #767676;
    cursor: pointer;
    position: relative;
}

.header-wraper .search-bar {
    position: absolute;
    top: 47px;
    left: 32px;
    right: 0px;
    width: 96%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    display: hidden;
}

.header-wraper .searchbar-item {
    display: flex;
    align-items: center;
    margin: 20px;
}

.header-wraper .searchbar-item h3 {
    font-size: 16px;
    margin-left: 20px;

}

.header-wraper .form-control {
    background-color: #E9E9E9;
    border: none;
    font-size: 18px;
    padding: 10px;
}

.header-wraper .pins-button {
    background-color: #E9E9E9;
    font-weight: 550;
    padding-right: 26px;
    padding-left: 20px;
    font-size: 14px;

}


.header-wraper .pins-button:hover {
    background-color: #d9d9d9;
}

.header-wraper .pins-button:focus {
    box-shadow: none;
}

.header-wraper .dropdown-item {
    font-weight: 550;
    margin-bottom: 6px;
}

.header-wraper .dropdown-item:hover {
    border-radius: 10px;
}

.header-wraper .icon {
    font-size: 24px;
    color: #767676;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.header-wraper .icon:active {
    color: black;

}

.circle-hover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.circle-hover:hover {
    background-color: #E9E9E9;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    background-color: #E9E9E9;
    width: 38px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
}

/* ===============main */
.main {
    margin-top: 30px;

}

.overlay {
    position: fixed;
    left: 0;
    top: 62px;
    width: 100%;
    height: 100vh;
    background-color: rgba(7, 7, 7, 0.5);
    display: none;
}

.row {
    z-index: -1;
}

.img-fluid {
    border-radius: 16px;
    width: 100%;
}